In [3]:
import xlwings as xw

In [4]:
filename="C:\\Users\\choven\\Desktop\\test2.xlsx"  #读取文件  
  
wb=xw.Book(filename) #打开文件  
detail_sheet=xw.Sheet("Sheet1") #sheet名字  
  
print(detail_sheet)

<Sheet [test2.xlsx]Sheet1>

In [22]:
last_row_index=xw.Range('A1').expand('table').last_cell.last_cell.row #这表格最后一列 
last_row_index

AttributeError: 'Range' object has no attribute 'last_row_index'

In [12]:
rg = "A1:B" + str(last_row_index) #范围  
print(rg)

A1:B5

In [13]:
work_detail = xw.Range(rg).value #选中范围的值  
  
print(work_detail)

[['姓名', '成绩'], ['张', 111.0], ['三', 222.0], ['李', 333.0], ['四', 444.0]]

In [15]:
filename1="C:\\Users\\choven\\Desktop\\test1.xlsx"  #读取文件名称  
  
wb1=xw.Book(filename1) #打开文件  
detail_sheet1=xw.Sheet("Sheet1") #sheet名称  
  
#last_row_index2=xw.Range('A1').expand('table').last_cell.row #这表格最后一列  

#last_row_index1=last_row_index1+1   #last_row_index1=last_row_index1+1 
  
#纵向排列
#xw.Range('A'+str(last_row_index1)).expand('table').value = work_detail  
#横向排列
xw.Range('C1').expand('table').value = work_detail 
  
wb1.save("C:\\Users\\choven\\Desktop\\test4.xlsx") #保存地址加文件名称  
  
wb1.close()

# 通过pandas读取表格添加

In [16]:
import pandas as pd
import numpy as np

In [17]:
pd_data = pd.read_excel('C:\\Users\\choven\\Desktop\\test3.xlsx',sheet_name='Sheet1')
pd_data

   类别     数值
0   A  12.78
1   B    134
2   D   78.2
3   E     89
4  姓名     成绩
5   张    111
6   三    222
7   李    333
8   四    444

In [18]:
filename2="C:\\Users\\choven\\Desktop\\test4.xlsx"  #读取文件名称  
  
wb1=xw.Book(filename2) #打开文件  
detail_sheet1=xw.Sheet("Sheet1") #sheet名称  
  
 
#纵向排列
#xw.Range('A'+str(last_row_index1)).expand('table').value = work_detail  
#横向排列
xw.Range('E1').expand('table').value = pd_data
  
wb1.save("C:\\Users\\choven\\Desktop\\test5.xlsx") #保存地址加文件名称  
  
wb1.close()

In [20]:
pd.read_excel("C:\\Users\\choven\\Desktop\\test5.xlsx" ,sheet_name='Sheet1')

    类别      数值   姓名     成绩  Unnamed: 4 类别.1   数值.1
0    A   12.78    张  111.0           0    A  12.78
1    B  134.00    三  222.0           1    B    134
2    D   78.20    李  333.0           2    D   78.2
3    E   89.00    四  444.0           3    E     89
4  NaN     NaN  NaN    NaN           4   姓名     成绩
5  NaN     NaN  NaN    NaN           5    张    111
6  NaN     NaN  NaN    NaN           6    三    222
7  NaN     NaN  NaN    NaN           7    李    333
8  NaN     NaN  NaN    NaN           8    四    444